<div class="contextual">
  <%= link_to 'Add new invoice', new_project_invoice_path(@project), :class => 'icon icon-add'%>
  <%= link_to l(:button_edit), edit_project_invoice_path(@project, @invoice), :class => 'icon icon-edit' if @invoice and @invoice.editable? %>
  <%= link_to l(:button_delete), project_invoice_path(@project, @invoice), :data => {:confirm => 'Are you sure de delete this invoice'}, :method => :delete, :class => 'icon icon-del' if @invoice && @invoice.deletable? %>
</div>
