<h3><%= l(:field_payments) %></h3>
<ul>
  <li><%= link_to('See related payment', payments_path(invoice_id: @invoice.id)) %></li>
  <li><%= link_to('Make a payment', new_payment_path(invoice_id: @invoice.id)) %></li>
</ul>