<h2><%= l(:label_new_tax) %></h2>
<div class="box tabular">
  <div id="all_attributes">
    <%= form_for @tax, url: tax_path(@tax), method: 'put' do |f| %>
        <%= render :partial => 'form', :locals => {:f => f} %>
        <%= submit_tag l(:button_update) %>
    <% end %>
  </div>
</div>
