<%= render partial: 'action_menu' %>
<h2><%= @client.name %></h2>
<div class="issue details">
  <table class="subject_header">
    <%= issue_fields_rows do |rows|
      rows.left l(:field_home_address), @client.home_address
      rows.right l(:field_email), @client.email
      rows.right l(:field_phone), @client.phone
    end %>
  </table>
</div>