<% if project.safe_attribute? 'client_id' %>
    <p><%= form.select :client_id, options_for_select(Client.pluck(:name, :id), selected: project.client_id) %></p>
<% end %>
<% if project.safe_attribute? 'work_order_date' %>
    <p><%= form.date_field :work_order_date %> <%= calendar_for('project_work_order_date') %></p>
<% end %>
<% if project.safe_attribute? 'work_order_number' %>
    <p><%= form.text_field :work_order_number  %></p>
<% end %>