<h2>Edit payment</h2>
<div class="box tabular">
  <div id="all_attributes">
    <%= form_for @payment, url: project_payment_path(@project, @payment), method: 'put' do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
        <%= submit_tag l(:button_update) %>
    <% end %>
  </div>
</div>
